.centered {
margin-left: auto;
margin-right:auto;
text-align:center;
}

/*html {
background:url("{{ STATIC_URL }}img/beach_car.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
z-index: 1000;
} */

body {
background:transparent url("http://www.magic4walls.com/wp-content/uploads/2014/03/subaru-brs-white-car-landscape-road-sunset-photo-beauty-auto-wallpaper.jpg") no-repeat fixed center center / cover;
}

/*
#banner {
background:rgba(255,255,255,0.85)
}
*/
.page-header{
border-bottom: none;

}
.slight_opaque {
  opacity: .85;
  filter: alpha(opacity=85);
}

/* opacity: .85;
filter: alpha(opacity=85); */

#jumbo {
background:rgba(0,0,0,0.01)
}

.red {color:red;}


/*{% static 'css/style.css' %}
url(../img/beach_car.jpg)
body{ font:16px/26px Helvetica, Helvetica Neue, Arial;   background-image: url("{{ STATIC_URL }}img/IMG_0002.jpg"); } */

.glyphicon-star {
  font-size: 30px;
  color:#FFDC00;
  &.half {
    position: relative;
    &:before {
      position: relative;
      z-index: 9;
      width: 47%;
      display: block;
      overflow: hidden;
    }
    &:after {
      content: '\e006';
      position: absolute;
      z-index: 8;
      color: #bdc3c7;
      top: 0;
      left: 0;
    }
  }
}
