{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


<!--<style>

html {
background: url(static/img/beach_car.JPG) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

</style> -->

<!-- THIS IS THE TOP NAVIGATION BAR SECTION -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand red"> Suncorp </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
<!--             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">The Basics<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="Rank By">
                <li><a href="#">Premium</a></li>
                <li><a>Lorem Ipsum Dolor Est</a></li>
                <li class="divider"></li>
                <li><a href="#">Personal Effects</a></li>
                <li><a href="#">Accident Care Hire</a></li>
                <li><a href="#">Windshield & Windows</a></li>
                <li><a href="#">Roadside Assist</a></li>
                <li><a href="#">Unrestricted Drivers</a></li>
                <li><a href="#">Unrestricted Kilometers</a></li>
                <li><a href="#">No-Claim Rebate</a></li>
              </ul>
            </li> -->
<!--             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Extras<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="Rank By">
                <li><a href="../default/">Premium</a></li>
                <li class="divider"></li>
                <li><a href="#">Personal Effects</a></li>
                <li><a href="#">Accident Care Hire</a></li>
                <li><a href="#">Windshield & Windows</a></li>
                <li><a href="#">Roadside Assist</a></li>
                <li><a href="#">Unrestricted Drivers</a></li>
                <li><a href="#">Unrestricted Kilometers</a></li>
                <li><a href="#">No-Claim Rebate</a></li>
              </ul>
            </li> -->
            <li>
              <a href="../help/">Help</a>
            </li>
            <li>
              <a href="../lel/">Saved Quotes</a>
            </li>
<!--             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Sandstone <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="http://jsfiddle.net/bootswatch/m0nv7a0o/">Open Sandbox</a></li>
                <li class="divider"></li>
                <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
                <li><a href="./bootstrap.css">bootstrap.css</a></li>
                <li class="divider"></li>
                <li><a href="./variables.less">variables.less</a></li>
                <li><a href="./bootswatch.less">bootswatch.less</a></li>
                <li class="divider"></li>
                <li><a href="./_variables.scss">_variables.scss</a></li>
                <li><a href="./_bootswatch.scss">_bootswatch.scss</a></li>
              </ul>
            </li> -->
          </ul>

<!--           <ul class="nav navbar-nav navbar-right">
            <li><a href="#" target="_blank">Nothing to see here</a></li>
            <li><a href="#" target="_blank">Nope</a></li>
          </ul> -->

        </div>
      </div>
    </div>
<!-- HERE ENDS THE TOP NAVIGATION BAR SECTION -->
<div class="jumbotron" id="jumbo">
<div class="container">
<div class="col-md-6 col-md-offset-3 ">

<div class="page-header" id="banner">
  <div class="row">
  <div class="panel panel-default slight_opaque">
  <div class="panel-heading">



  <div class="text-center text-primary">
  <h2>Get a Quote Today!</h2>
</div>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2 text-primary" for="CustomerAge">Your Age</label>
      <div class="col-sm-10 text-primary">
        <input type="text" class="form-control text-primary" id="CustomerAge" placeholder="Please enter your age">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2 text-primary" for="RegistrationNumber">Registration Number</label>
      <div class="col-sm-10 text-primary">
        <input type="text" class="form-control text-primary" id="RegistrationNumber" placeholder="Please enter your registration number">
      </div>
    </div>
    <div class="form-group">
    <!--  <div class="col-sm-offset-2 col-sm-10 centered"> -->
    <div class="text-center">
        <button type="submit" class="btn btn-primary"><span class = "glyphicon glyphicon-ok-circle"></span> Get Quote!</button>
<!-- <img src="{% static 'img/beach_car.jpg' %}" class="img-responsive" alt="Cinque Terre" width="304" height="236"> -->
      </div>
    </div>
  </form>

<!--<div class="container">
<img src="{% static 'img/beach_car.jpg' %}" class="img-responsive" alt="Cinque Terre" width="304" height="236">
</div> -->

<!--  <h2> Find your best cover </h2>
  <h4> Enter your details here </h4>
 <!--  <div class="col-lg-8 col-md-7 col-sm-6">
    <h1>Find your best cover</h1>
    <p class="lead">Enter your details here</p>
  </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
    <div class="sponsor">
    <img src="{% static 'img/doge.jpeg' %}" alt="Shopify" width="180" height="180">
    </div>
  </div> -->
  </div>



  </div>
  </div>
  </div>
  </div>
</div>
</div>

<div class="container">
<div class="row">

<!-- COL 1 -->
<div class="col-md-4">
<div class="panel panel-default slight_opaque">
<div class="panel-body text-primary">
<h2 class="text-center"> Levels Of Cover </h2>
<hr>
<h3 class="text-center">Third Party Property Damage</h3>
<p>After the CTP this is seen the minimal non-compulsory policy. It will cover you for the damage caused by your car to other people’s property. Even if you do not think that your car is worthy of insuring taking out this policy will cover you for the damages bill if you collided with a luxury car, a bill potentially worth thousands.
</p>

<h3 class="text-center">Third Party Fire And Theft Cover</h3>
<p>This policy will cover the damage to your car as a result of fire or theft as well as provide coverage for damages caused by your car to other people’s property.
</p>

<h3 class="text-center">Comprehensive Car Insurance</h3>
<p>Comprehensive car insurance is an insurer’s most extensive policy. It is also the most commonly held policy in Australia. It covers you for most damages done to your car as a result of collision, flood, fire, storm and theft. It also includes cover for damages to other people’s car and property as a result of a collision involving your car.
</p>

</div>
</div>
</div>





<!-- COL 2 -->
<div class="col-md-4">
<div class="panel panel-default slight_opaque">
<div class="panel-body text-primary">
<h2 class="text-center"> Customer Testimonies </h2>
<hr>
<h3 class="text-center"> Andy L.C, New South Wales </h3>
<p>I recently had a policy for previous car which was payed out for the car being written off.</p>
<p>I was very impressed with such quick and amazing service i received from suncorp and was happy to return as a previous happy customer. On top of that, they have also come up with the best and cheapest deal.</p>
<p>Overall a very happy suncorp customer! Exceptional service and job well done</p>
<div class="rating text-center">
  <i class="glyphicon glyphicon-star"></i>
  <i class="glyphicon glyphicon-star"></i>
  <i class="glyphicon glyphicon-star"></i>
  <i class="glyphicon glyphicon-star"></i>
  <i class="glyphicon glyphicon-star half"></i>
</div>
<br>
<h3 class="text-center">Deli, North Queensland</h3>
<p>“Was very easy to do online and didn't have to wait on hold at all. Was all finished within 10 mins and great discounts for doing it online. thank you!”</p>
<div class="rating text-center">
  <i class="glyphicon glyphicon-star"></i>
  <i class="glyphicon glyphicon-star"></i>
  <i class="glyphicon glyphicon-star"></i>
  <i class="glyphicon glyphicon-star"></i>
</div>
<br>
<h3 class="text-center">Kirra62, South-East Queensland</h3>
<p>Excellent cover!</p>
<p>I did a lot of research & this cover was the best, offering new for old replacement for life </p>
<div class="rating text-center">
  <i class="glyphicon glyphicon-star"></i>
  <i class="glyphicon glyphicon-star"></i>
  <i class="glyphicon glyphicon-star"></i>
  <i class="glyphicon glyphicon-star"></i>
  <i class="glyphicon glyphicon-star"></i>
</div>

</div>
</div>
</div>



<!-- COL 3 -->
<div class="col-md-4">
<div class="panel panel-default slight_opaque text-primary">
<div class="panel-body">
<h2 class="text-center"> Optional Extras </h2>
<hr>
<h3 class="text-center">Suncorp Roadside Assist </h3>
<p>Suncorp is now offering Roadside assistance as an optional extra on new or existing comprehensive car insurance policies, all for a low annual cost, with no extra joining fee.</p>
<h3 class="text-center"> Hire Car After Theft </h3>
<p>We’ll cover the daily hire cost of a ‘compact’ category hire car following theft, or attempted theft for up to 14 days following an approved claim. Other conditions apply. </p>
<h3 class="text-center">Transport Cover</h3>
<p>If you can safely drive to a Suncorp assessment centre or repair facility following an approved claim we will cover the reasonable taxi costs to your home or work and then back again once the repairs are complete. Some exclusions apply. </p>
<h3 class="text-center">2 year new for old car replacement</h3>
<p>If your car is a total loss within the first 2 years of registration and you are the first registered owner, we'll replace it with a new one of the same or similar make and model. Other conditions apply. </p>
</div>
</div>
</div>

</div>
</div>






{% endblock %}
